/* ==================================
            Global Styling
=====================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn_black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: wavy !important;
    text-decoration-color: #FFD101;
    color: #25303C;
}

/* ==================================
        Header section styling
=====================================*/
.header_section {
    height: 100vh;
    background: url(images/desktop/image-header.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    margin: 0 5rem;
}

/* navigation bar */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_link {
    margin-left: 2rem;
}

.nav_link a {
    color: #fff;
    text-transform: capitalize;
    transition: 0.2s ease;
}

.nav_btn {
    background-color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    border: 2px solid #fff;
}

.nav_btn a {
    color: #242424;
    font-weight: 600;
}

.nav_link a:hover {
    color: #242424;
}

.nav_btn:hover {
    background-color: transparent;
}

.nav_btn:hover a {
    color: #fff;
}

/* navigation bar */
.content_section {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-size: 4.5rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.down_arrow {
    display: inline-block;
    margin-top: 10px;

}

/* ==================================
        About section styling
=====================================*/
.col-md-2 {
    display: flex;
    align-items: center;
}

.text_content {
    padding: 0 10rem;
    width: 50%;
}

.text_content h2 {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #25303C;
}

.text_content p {
    width: 90%;
    font-size: 1.2rem;
    margin: 2rem 0;
    font-weight: 400;
    line-height: 2;
}



.img_box {
    width: 50%;
}

.img_box img {
    width: 100%;

}

/* ==================================
        About section styling
=====================================*/

.services .row {
    display: flex;
}

.services .row .box {
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.services .row .one {
    background: url(/images/desktop/image-graphic-design.jpg) center center no-repeat;
    background-size: cover;

}

.services .row .two {
    background: url(/images/desktop/image-photography.jpg) center center no-repeat;
    background-size: cover;
}

.services h3 {
    font-size: 2rem;
    color: #27574D;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
}

.services p {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 50px 0;
    font-size: 1.2rem;
    color: #357262;
    font-weight: 600;
    line-height: 1.8;
}

/* ==================================
        About section styling
=====================================*/
.testimonials {
    margin: 10rem 5rem;
}

.testimonial_headline {
    text-align: center;
    margin: 3rem 0;
    color: #A5A5A5;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonials_row {
    display: flex;
}

.testimonials_row .testimonial_box {
    text-align: center;
    margin: 0 2rem;
}

.person {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.testimonial_quote {
    margin: 2rem 0;
    color: #848688;
    font-size: 1rem;
    line-height: 2;
    font-weight: 500;
}

.testimonial_box .name {
    font-weight: 700;
}

.profession {
    font-size: 1rem;
    font-weight: 500;
    color: #848688
}

/* ==================================
        About section styling
=====================================*/
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}

.gallery_img_box {
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.gallery_img_box img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.gallery_img_box img:hover {
    transform: scale(1.1);
}

/* ==================================
        Footer section styling
=====================================*/
.footer_section {
    background-color: #90D4C5;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.footer_logo .logo {
    color: #2D7464;
    text-transform: capitalize;
    font-size: 2rem;
}

.footer_nav {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer_nav .nav_items {
    display: flex;
    color: #2D7464;

}

.footer_nav .nav_link {
    color: #2D7464;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;

}

.footer_nav .nav_link:hover {
    color: #fff;
}

.social_links ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_links ul li {
    margin: 1rem;
}

.social_links ul li i {
    font-size: 1.5rem;
    transition: .3s ease-in-out;

}

.social_links ul li i:hover {
    color: #fff;
}